<div class="card">
  <div class="card-header">
    Pending Leaves of Employees
  </div>
  <div class="card-body">
    <div class="alert alert-secondary" role="alert" *ngIf="msg">
       {{msg}}
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">From Date</th>
          <th scope="col">To Date</th>
          <th scope="col">Days</th>
          <th scope="col">Employee </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let l of leaves;let i = index">
          <th scope="row">{{i+1}}</th>
          <td> {{l.fromDate}} </td>
          <td> {{l.toDate}} </td>
          <td> {{l.numDays}} </td>
          <td>{{l.employeeName}} </td>
            <td> <button (click)="onStatusUpdate(l.id, 'APPROVED')" class="btn btn-primary btn-sm"><span class="btn-text"><b>Approve</b></span></button>
              &nbsp;
              <button (click)="onStatusUpdate(l.id, 'DENY')" class="btn btn-danger btn-sm"><span class="btn-text"><b> Deny</b></span></button>
            </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

