<section>
<div class="row">
  <div class="col-md-4" >
       <app-manager-info></app-manager-info>
  </div>
  <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
           <app-manager-access></app-manager-access>
        </div>
        <div class="col-md-6">
           <app-manager-leave></app-manager-leave>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <app-manager-list></app-manager-list>
        </div>
      </div>
  </div>
</div>

</section>
<!--
<div class="col-md-4">
  Ticket component
</div>
<div class="col-md-4">
  Leave Component
</div>
-->
